
    /* ==================== VARIÁVEIS GLOBAIS CORES ==================== */
    :root {
      --cor-bck-body: rgb(247, 247, 247);
      --cor-bck-card: rgb(255, 255, 255);
      --cor-bk-popup: rgba(91, 72, 165, 0.557);
      --cor-white: #ffffff;
      --cor-h2: #333333;
      --cor-item: #003d1c;
      --cor-preco: #868686;
      --cor-botao: #5b48a5;
      --cor-botao-hover: #b4a1ff;
      --cor-border-card: #c0c0c0;
      --cor-border-card-hover: #5b48a5;
      --cor-border-categoria: #5B48A5;
      --cor-categoria: #b4a1ff;
    }

    /* ==================== ESTILOS GERAIS ==================== */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 1rem;
      background: var(--cor-bck-body);
    }

    header {
      text-align: center;
    }
    header h1 {
      margin: 0 0 1rem 0;
      color: var(--cor-h2);
    }
    /* ==================== total liquido ==================== */
    .tt-liquido {
      font-size: 1.2rem;
      text-align: center;
      color: #e67e22;
      font-weight: bold;
      margin-top: 10px;
    }

    .footer-fixo {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: transparent;
      padding: 0.8rem 1rem;
      text-align: center;
      box-shadow: 0 -2px 6px rgba(13, 156, 0, 0.582);
      z-index: 100;
    }

    h2 {
      margin: 0;
      color: var(--cor-h2);
    }

    section {
      margin-bottom: 5px;
    }

    /* ==================== TÍTULO DAS CATEGORIAS ==================== */
    .category-title {
      border-left: 5px solid var(--cor-border-categoria);
      background: var(--cor-categoria);
      padding: 0.5rem 1rem;
      font-size: var(--categoria-font);
      font-weight: bold;
      color: var(--cor-border-categoria);
      margin-bottom: 10px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
    }

    /* ==================== GRID DE ITENS ==================== */
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      gap: 10px;
    }

    /* ==================== CARD DE CADA ITEM ==================== */
    .item {
      background: var(--cor-bck-card);
      border: 1px solid var(--cor-border-card);
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(62, 255, 88, 0.05);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.3s;
    }

    .item:hover {
      background: var(--cor-white);
      transform: scale(1.02);
      cursor: pointer;
      border: 1px solid var(--cor-border-card-hover);
    }

    .item-name {
      font-weight: bold;
      color: var(--cor-item);
    }

    .item-price {
      font-size: var(--preco-font);
      color: var(--cor-preco);
      margin-top: 0.3rem;
      font-weight: bold;
      /* codigo pra alinhar texto abaixo */
    }

    .hidden {
      display: none;
    }

    .icone-car {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 8px;
    }

    .botao-carrinho {
      background: var(--cor-botao);
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      display: inline;
      align-items: center;
      transition: 0.3s;
    }

    .botao-carrinho:hover {
      background: var(--cor-botao-hover);
    }

    /* ==================== POPUPS ==================== */
    .popup {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: var(--cor-bk-popup);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 3000;
    }
    .popup-carVazio {
      background-color: var(--cor-white);
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      max-width: 180px;
    }
    .popup-conteudo {
      background-color: var(--cor-white);
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      max-width: 260px;
    }

    .popup .botoes {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
    }

    .popup .confirmar {
      border: 1px solid rgb(255, 255, 255);
      padding: 0.6rem 1.2rem;
      border-radius: 10px;
      font-weight: bold;
      background-color: var(--cor-botao);
      color: white;
    }

    .popup .cancelar {
      border: 1px solid #838383;
      padding: 0.6rem 1.2rem;
      border-radius: 10px;
      font-weight: bold;
      background-color: #ececec;
      color: #838383;
    }
    button.confirmar, button.cancelar {
      cursor: pointer;
    }

#popup-alerta .alerta-icone {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #f39c12;
  text-align: center;
}

    /* ==================== DETALHES DO RESUMO ==================== */
    .subtotal {
      color: #e6e322;
      font-weight: bold;
    }

    .valor-troco {
      font-weight: bold;
      color: rgb(0, 160, 0);
      margin-top: 0.5rem;
      font-size: 1.6rem;
    }

    button.remover-item {
      margin-top: 5px;
      padding: 3px 7px;
      font-size: 0.9rem;
      cursor: pointer;
      background-color: #fae9e7;
      color: rgb(255, 0, 0);
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    button.remover-item:hover {
      background-color: #c0392b;
    }
    .in-dinheiro {
        width: 100px;
        border: 1px solid #5B48A5;
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
        color: #5B48A5;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.2rem;
    }
        .in-quant {
        width: 100px;
        border: 1px solid #5B48A5;
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
        color: #5B48A5;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.2rem;
    }